extends ../../layouts/account

block head
  title Inicio
block body
  div.col-sm-6
    div.col-sm-11
      script(src='/views/js/jquery.js', type='text/javascript')
      script(src='/js/bootstrap.min.js', type='text/javascript')
      script(src='/js/cargue.js', type='text/javascript')
      br
      h1 Sistema de calculo de Madurez Empresarial
      
