link(rel='stylesheet', href='/stylesheets/jquery.dataTables.css')
link(rel='stylesheet', href='/stylesheets/dataTables.tableTools.css')
link(rel='stylesheet', href='/stylesheets/buttons.bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/buttons.dataTables.min.css')
link(rel='stylesheet', href='/stylesheets/select.dataTables.min.css')
link(rel='stylesheet', href='/stylesheets/responsive.dataTables.min.css')
link(rel='stylesheet', href='/stylesheets/style.min.css')
// Metis core stylesheet
link(rel='stylesheet', href='/stylesheets/main.min.css')
#modulo(class="#{modulo}")
style.
    .ingresar{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    }


h5 Listado de Areas


#myModal.modal.fade(role='dialog')
  .modal-dialog
    // Modal content
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title Formulario de inventarios
      .modal-body
        .control-group
          .build-wrap
          .render-wrap
          button#guardar.btn-success(type='submit', onclick='return false;') Agregar
          button#actualizar.class.btn-info(type='submit', onclick='return false;', data-dismiss='modal', style='display: inline-block;') Actualizar
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
div#id
table#example.gridtable
script(src='/javascripts/jquery.js')
script(src='/javascripts/jquery.dataTables.min.js')
script(src='/javascripts/dataTables.bootstrap.min.js')
script(src='/javascripts/dataTables.jqueryui.min.js')
script(src='/javascripts/dataTables.buttons.min.js')
script(src='/javascripts/dataTables.select.min.js')
script(src='/javascripts/dataTables.responsive.min.js')
script(src='/javascripts/dataTables.altEditor.free.js')
script(src='/javascripts/buttons.print.min.js')
script(src='/javascripts/pdfmake.min.js')
script(src='/javascripts/buttons.flash.min.js')
script(src='/javascripts/buttons.bootstrap.min.js')
script(src='/javascripts/buttons.html5.min.js')
script(src='/javascripts/buttons.colVis.min.js')
script(src='/javascripts/vfs_fonts.js')
script(src='/javascripts/jszip.min.js')
script(src='/javascripts/form-builder.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/dinamico.js')
