extends ../../layouts/account
block head
  title Inventario
link(href='/css/bootstrap.min.css', rel='stylesheet')
block body
  div.row
    div.col-sm-6
      div.page-header
        script(src='/vendor/jquery/jquery.js')
        script(src='/socket.io/socket.io.js')
        h1 Admin Area
        table#tabla
          thead
            tr
              th Nombre
              th Valor
          tbody
          
