| 多Olvidaste tu contrase単a?
= '\n'
= '\n'
| Recibimos una solicitud para restablecer la contrase単a de su cuenta. (#{username}).
= '\n'
= '\n'
| Para restablecer su contrase単a, haga clic en el enlace de abajo (o copie y pegue la URL en su navegador):
| #{resetLink}
= '\n'
= '\n'
| Gracias,
| #{projectName}
