body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart-demo {
    left: 10%;
    position: relative;
}

@media (max-width:360px) {
  .chart-demo {
      left: 0%;
      position: relative;
  }
}
