/* Page logo */


#logoA {
    position: relative;
    font-family: Arial, sans-serif;
    width: 300px;
    top: -40px;
    left: -106px;
    -ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0.8;
}
#box1 {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    background: #0792c5;

    -webkit-animation: rotating 4s ease infinite;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
#box2 {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    background: #068690;
    -webkit-animation: rotating 5s ease infinite;
}
#box3 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #057a55;
    -webkit-animation: rotating 6s ease infinite;
}
#box4 {
    transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    background: #05712e;
    -webkit-animation: rotating 7s ease infinite;
}
#box5 {
    transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    background: #067d62;
    -webkit-animation: rotating 8s ease infinite;
}
#box6 {
    background: green;
    -webkit-animation: rotating 9s ease infinite;
}
#circle {
    background: #1c1c1c;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 60px;
    left: 60px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    color: #fff;
    text-align: center;
}
#circle div {
    position: relative;
}
#circle strong {
    display: block;
    margin-top: 25px;
    position: relative;
    left: -5px;
    text-shadow: 0 0 15px #151515;
    font-size: 1.1em;
}
#circle span {
    position: absolute;
    font: 0.7em Arial, sans-serif;
    bottom: -14px;
    font-family: "Verdana", Arial, sansserif;
    left: -43px;
    width: 229%;
    text-align: center;
    color: #fdfffd;
    text-shadow: 0 0 1px black;
}







/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

img[id^=lola] {
  width: 200px;
  position: relative;
  right: -21%;
  bottom: -27px;
}

#lolo {
    position: relative;
    bottom: -41px;
}
#mama {
    position: relative;
    bottom: -58px;
}

#htmltext {
    position: relative;
    bottom: -51px;
}

#htmlimage {
    position: relative;
    width: 176px;
    right: -21%;
    bottom: -58px;
}

#clientext {
    position: relative;
    bottom: -52px;
}

#container {
    position: relative;
    top: -41px;

}

#imagecesar {
    position: relative;
    height: 267px;
}

#cesar {
    width: 114%;
    height: 99%;

}




/*#cesarnoso {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
}*/

.div-img.hidden {
  overflow: hidden;
}
.div-img .img-responsive {
  display: block;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}


.div-img:hover .img-responsive {
  transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  -webkit-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);


}

#textinfo {
  position: relative;
  bottom: 2%;


}


/*#hola:hover #textm h3 {
visibility: visible;


}

/* Sonam */
.pricing--sonam {
	box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
	transition: background 0.3s;
}

.pricing--sonam:hover {
	background: #f2f2f2;
}



/* Movement */

.pricing--sonam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;

}




.pricing--sonam:hover {
  transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  -webkit-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);
   margin-top: 10px;

}

/*hover free price table */

#sonam1:hover {
  transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  -webkit-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);
   margin-top: 10px;


}

#sonam1:hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;

}





//* Partners logos  *//



.div-img.hidden {
  overflow: hidden;
}
.div-img .img-responsive {
  display: block;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}


.div-img:hover .img-responsive {
  transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  -webkit-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);


}


/*Team members */




/* Main Container  */

.team-fade {
  width: 250px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: block;
  position: relative;
}
.team-fade .team-box {
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  color: #f2f2f2;
}
.team-fade .team-img {
  z-index: 0;
}
.team-fade .team-box {
  z-index: 1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.team-fade:hover .team-box {
  opacity: 1;
}






/*      Image and information      */

#imageh{
 visibility: hidden;

}

.team-box {
  width: 100%;
  height: 100%;
  transition:0.4s ease-in-out;
  display: block;
  transform: scale(1);
  backface-visibility: hidden;
}
.team-img img {
  display: block;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.team-img {
  position: relative;

}
.team-box {
  top: 0px; left: 0px;
  position: absolute;
}
.team-box .team-content {
  padding: 5px;
  top: 50%; left: 50%;
  float: left;
  display: block;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
}
.team-content {
  text-align: center;
}
.team-content p {
  font-size: 14px;
}


e3 {
  font-size: 18px;
  color: #eaeaea;
  position: relative;
  bottom: -12px;
}




/*      Social media style  */

hr {
  border: 0;
  height: 0;
  width: 80%;
  border-bottom: 1px solid #f2f2f2;
}







/*          Parallax for team members            */


#features1 {
  text-align: center;
  background-image: url(../images/bgxd.jpg);
}

#features1 i {
  font-size: 48px;
}

#features1 h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features1 .slider-overlay {
  opacity: 0.8;
}



#logo {
  width: 43%;
}




/*  New footer */

/* --------------------------------------------
    Footer
----------------------------------------------- */
.footer {
    background : #313131;
    }

.footer .footer-block {
    border-right : 1px solid #3a3a3a;
    padding      : 80px 60px;
    min-height   : 380px;
    }

@media (min-width : 992px) and (max-width : 1199px) {
    .footer .footer-block {
        padding : 60px 50px;
        }
    }

@media (min-width : 768px) and (max-width : 991px) {
    .footer .footer-block {
        padding : 50px 15px;
        }
    }

@media (max-width : 767px) {
    .footer .footer-block {
        padding    : 30px 15px;
        min-height : inherit;
        }
    }

.footer .footer-block.last {
    border-right : 0;
    }

.footer .footer-widget h3 {
    font-size     : 16px;
    line-height   : 22px;
    color         : #ffffff;
    margin-bottom : 25px;
    }

.footer .widget_text {
    }

.footer .footer-logo {
    margin-bottom : 25px;
    }

.footer .footer-widget .btn {
    font-size     : 11px;
    padding       : 5px 18px;
    border-radius : 50px;
    color         : #6b6b6b;
    border        : 1px solid #4a4a4a;
    margin-top    : 40px;
    }

.footer .footer-widget .btn:hover {
    color            : #ffffff;
    background-color : #31aae2;
    border           : 1px solid transparent;
    }

.footer .footer-widget address {
    line-height   : 22px;
    margin-bottom : 30px;
    }

.footer .footer-widget .social-links {
    }

.footer .footer-widget .social-links li a {
    display          : block;
    font-size        : 20px;
    width            : 42px;
    height           : 42px;
    color            : #6b6b6b;
    background-color : #4a4a4a;
    line-height      : 42px;
    text-align       : center;
    border-radius    : 50%;
    }

.footer .footer-widget .social-links li a:hover {
    color            : #ffffff;
    background-color : #31aae2;
    }

.footer .copyright-section {
    background-color : #2d2d2d;
    color            : #6b6b6b;
    padding          : 20px 0;
    }

.footer .copyright-section .copytext {
    text-transform : uppercase;
    color          : #6b6b6b;
    font-weight    : 600;
    }

@media (min-width : 768px) {
    .footer .copyright-section .list-inline > li {
        padding-right : 10px;
        padding-left  : 10px;
        }
    }

.footer .copyright-section li a {
    display   : block;
    font-size : 13px;
    color     : #6b6b6b;
    }

.footer .copyright-section li a:hover,
.footer .copyright-section li.active a {
    color : #ffffff;
    }



#infofoot {

  position: relative;
  bottom: -33px;


}



//*  Parallax section *//


    #sectionp {
      padding: -1px;
    }





    /*  Icons   */

    /* footer social icons */
    ul.social-network {
    	list-style: none;
    	display: inline;
    	margin-left:0 !important;
    	padding: 0;
    }
    ul.social-network li {
    	display: inline;
    	margin: 0 5px;
    }


    /* footer social icons */
    .social-network a.icoRss:hover {
    	background-color: #F56505;
    }
    .social-network a.icoFacebook:hover {
    	background-color:#3B5998;
    }
    .social-network a.icoTwitter:hover {
    	background-color:#33ccff;
    }
    .social-network a.icoGoogle:hover {
    	background-color:#BD3518;
    }
    .social-network a.icoVimeo:hover {
    	background-color:#0590B8;
    }
    .social-network a.icoLinkedin:hover {
    	background-color:#007bb7;
    }
    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    	color:#fff;
    }
    a.socialIcon:hover, .socialHoverClass {
    	color:#44BCDD;
    }

    .social-circle li a {
    	display:inline-block;
    	position:relative;
    	margin:0 auto 0 auto;
    	-moz-border-radius:50%;
    	-webkit-border-radius:50%;
    	border-radius:50%;
    	text-align:center;
    	width: 50px;
    	height: 50px;
    	font-size:20px;
    }
    .social-circle li i {
    	margin:0;
    	line-height:50px;
    	text-align: center;
    }

    .social-circle li a:hover i, .triggeredHover {
    	-moz-transform: rotate(360deg);
    	-webkit-transform: rotate(360deg);
    	-ms--transform: rotate(360deg);
    	transform: rotate(360deg);
    	-webkit-transition: all 0.2s;
    	-moz-transition: all 0.2s;
    	-o-transition: all 0.2s;
    	-ms-transition: all 0.2s;
    	transition: all 0.2s;
    }
    .social-circle i {
    	color: #fff;
    	-webkit-transition: all 0.8s;
    	-moz-transition: all 0.8s;
    	-o-transition: all 0.8s;
    	-ms-transition: all 0.8s;
    	transition: all 0.8s;
    }


    #icons  {

      position: relative;
      bottom: -61px;

    }



    #services {

      padding: 90px;

    }



    #pricing {
      
      padding: 90px;
    }
