extends ../../layouts/account
block head
  title Grafica
block feet
  link(href='/views/account/cuenta.min.css', rel='stylesheet')
  script(src='/views/cuenta-bundle.min.js')
  
block head
  title area
  block body
    .col-lg-10
      .box
        header.dark
          .icons
            i.fa.fa-th-large          
          h5 Formulario para analizar el nivel de Madurez Empresarial.
        .body
          #formInicio
            div(id="usuario", class="#{usuario}")
            div(id="empresa", class="#{empresa}")
            label Seleccionar Area
            select.form-control#area
              option(value="-1") Seleccionar..
              -for (var i = 0; i < areas.length; i++) {
                option(value="#{areas[i].id}") #{areas[i].name}
              -}
            br
            table.table.table-bordered#tabla
              thead
                tr
                  th Nombre
                  th Descripción
                  th Minimo
                  th Maximo
                  th Valor
                  th Fórmula
              tbody
          #formCuestionario
          .card.step-progress
            .step-slider
              .step-slider-item(data-id='step1')
              .step-slider-item(data-id='step2')
            .step-content
              #step1.step-content-body Paso 1
              #step2.step-content-body.out Paso 2
              #stepLast.step-content-body.out 
                .wrapper
                  .chart
                    canvas#chartRadar(width='1045', height='522', style='display: block; width: 1045px; height: 522px;')
              #resultado
                li#areaF 
                li#procentF
                li#nivelA
              .step-content-foot
                button.active(type='button', name='prev') Anterior
                button.active(type='button', name='next') Siguiente
                button.active.out(type='button', name='finish') Finalizar
