script(src='javascripts/jquery-3.1.1.min.js')
script(src='javascripts/Chart.min.js', type='text/javascript')
.chart-demo
  #titulo
    label Grafico de Salida
  canvas#canvas(width='640', height='400')

  script.
    var RadarChart = {
    labels: ["DSADS","JUAN","Diego", "Luisa", "Carlos", "Juan", "Diana"],
    datasets: [{
    fillColor: "rgba(66,66,190,0.5)",
    strokeColor: "blue",
    pointColor: "red",
    backgroundColor: "rgba(179,181,198,0.2)",
    pointStrokeColor: "green",
    data: [10, 9, 8, 7, 6,3,6]
    }
    ]
    }
    var myRadarChart = new Chart(document.getElementById("canvas").getContext("2d")).Radar(RadarChart, {
    pointLabelFontSize: 13,
    pointLabelFontColor: "blue",
    scaleOverride: true,
    scaleSteps: 1,
    scaleStepWidth: 10,
    scaleStartValue: 0,
    options: {
          scale: {
              reverse: true,
              ticks: {
                  beginAtZero: true
              }
          }
        }

    });
