extends ../../layouts/account

block head
  title Factura
  link(href='/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', href='/css/jquery-ui.css')
  link(rel='stylesheet', href='/css/buttons.jqueryui.min.css')
  link(rel='stylesheet', href='/css/dataTables.jqueryui.min.css')
  link(rel='stylesheet', type='text/css', href='/views/css/demo.min.css')
  link(rel='stylesheet', type='text/css', media='screen', href='/views/css/form-builder.min.css')
  link(rel='stylesheet', type='text/css', media='screen', href='/views/css/form-render.min.css')
  link(rel='stylesheet', href='/css/jquery.dataTables.css')
  link(rel='stylesheet', href='/css/dataTables.tableTools.css')
  link(rel='stylesheet', href='/css/buttons.bootstrap.min.css')
  link(rel='stylesheet', href='/css/buttons.dataTables.min.css')
  link(rel='stylesheet', href='/css/select.dataTables.min.css')
  link(rel='stylesheet', href='/css/responsive.dataTables.min.css')
  link(rel='stylesheet', href='/views/dinamico/style.min.css')

block feet

  script(src='/views/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/vendor/bootstrap/js/dropdown.js')
  script(src='/js/jquery.dataTables.min.js')
  script(src='/js/dataTables.bootstrap.min.js')
  script(src='/js/dataTables.jqueryui.min.js')
  script(src='/js/dataTables.buttons.min.js')
  script(src='/js/dataTables.select.min.js')
  script(src='/js/dataTables.responsive.min.js')
  script(src='/js/dataTables.altEditor.free.js')
  script(src='/js/buttons.print.min.js')
  script(src='/js/buttons.bootstrap.min.js')
  script(src='/js/buttons.flash.min.js')
  script(src='/js/buttons.html5.min.js')
  script(src='/js/buttons.colVis.min.js')
  script(src='/js/pdfmake.min.js')
  script(src='/js/vfs_fonts.js')
  script(src='/js/jszip.min.js')
  script(src='/js/jquery-customselect-1.9.1.js')
  script(src='/views/facturacion/index.min.js')
block body
  div.col-sm-11
    legend Realizar Factura
    #idFactura
    div#id
    div#indice
    div#valor
    div#ident
    div#sumatoria
    div(id="usuario", class="#{usuario}")
    div.control-group
      label(for="sel1") Numero de Factura:
      label(type='text', name='numeroFactura') #{numFactura}
    div.control-group
      label.control-label(for='year') Fecha de Creación:
      label(type='text', name='fecha') #{fecha}
    .control-group
      button#guardar.btn.btn-default(type='submit',onclick="mostrarFoco();", title='Este Botón es para agregar elementos de un listado de productos a Registrar!') Agregar Fila
    table#example.gridtable
    button.btn.btn-primary#pagar(type="submit",onclick="mostrarFoco();") Pagar
    Legend Hitorial de Facturas
    table#example2.gridtable
    div.modal.fade#myModal3(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            div(id="usuario")
              button( type="button", class="close", data-dismiss="modal") &times;
              h4.modal-title Forma de Pago
            div.modal-body
              form
                .row
                  .col-sm-4
                    .form-group
                      label Cliente:
                      li
                        a#cli_existente(href='#', onclick='openWindowCliente()') Seleccionar Existente
                      li
                        a(href='#', onclick='openWindowNuevoCliente()') Ingresar Nuevo
                      label Cédula del Cliente:
                        input.form-control#nombreC(type='text', disabled='disabled',style='width: 300px;')
                    .form-group
                      label Vendedor:
                      li
                        a#ven_existente(href='#', onclick='openWindowVendedor()') Seleccionar Existente
                      li
                        a(href='#', onclick='openWindowNuevoVendedor()') Ingresar Nuevo
                      label Cédula del Vendedor:
                        input.form-control#cedulaV(type='text', disabled='disabled',style='width: 300px;')

                    .form-group
                      input#guardarFactura.btn.btn-primary(type='button', value='Guardar')
                      button(type="submit", id="actualizar2", onclick="return false;", class="btn btn-success") Actualizar
                      input#cancelar.btn.btn-warning(type='button', value='Cancelar')
                  .col-sm-4
                    .form-group
                      label Valor Compra:
                      label.form-control#valorT(style='width: 300px;')
                      label Descuento(%):
                        input.form-control#descuento(type='Number',min=0,max=100 ,style='width: 300px;',value="0")
                      label Valor Total:
                        input.form-control#valorF(type='text', disabled='disabled',style='width: 300px;')
                    .form-group
                      label Forma de pago:
                        select.form-control#forma_pago(style='width: 300px;')
                          option(value='efectivo') Efectivo
                          option(value='tarjeta_credito') Tarjeta de crédito
                          option(value='tarjeta_debito') Tarjeta debito
                          option(value='Credito') Crédito
                          option(value='Saldo_a_Favor') Saldo a Favor
                          option(value='Visa_debito') Visa débito
                          option(value='Visa_credito') Visa crédito
                          option(value='MasterCard_debito') MasterCard débito
                          option(value='American_Express') American Express
                          option(value='MasterCard Credito') MasterCard Crédito
                          option(value='Gift_Card') Gift Card
                          option(value='MercadoPago') MercadoPago
                          option(value='Linio') Linio
                          option(value='Bancolombia') Bancolombia
                          option(value='Efecty') Efecty
                          option(value='Interrapidisimo') Interrapidisimo
                          option(value='Baloto') Baloto
                          option(value='Sodexo') Sodexo
                          option(value='Puntos') Puntos
                          option(value='Maestro_Debito') Maestro Débito
                          option(value='Tarjeta_Codensa') Tarjeta Codensa
                          option(value='Diners_Club') Diners Club
                          option(value='PayU') PayU
                          option(value='nota_credito') Nota Credito
                      div#dinero

              div.modal-footer
                button(type="button", class="btn btn-default", data-dismiss="modal") Salir
