block head
  title Buscar prct
  script(src='/vendor/jquery/jquery.js')
  link(href='/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='/views/css/demo.min.css')
  link(rel='stylesheet', type='text/css', media='screen', href='/views/css/form-builder.min.css')
  link(rel='stylesheet', type='text/css', media='screen', href='/views/css/form-render.min.css')
  link(rel='stylesheet', href='/views/vendedor/style.min.css?#{cacheBreaker}')
block feet
  script(src='/views/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.dataTables.js')
  script(src='/views/js/datatables.min.js')
  script(src='/js/dataTables.tableTools.js')
  script(src='/js/form-builder.min.js') 
  script(src='/js/form-render.min.js')
  script(src='/views/facturacion/vendedor.min.js')
block body
  div.row
    div.col-sm-6
      div.page-header
        div.container-fluid
          div.row-fluid

            h1 Nuevo Vendedor:
            .control-group
              .build-wrap
              .render-wrap
            div(id="usuario", class="#{usuario}")
            button#guardar.btn-success(type='submit', onclick='return false;') Agregar
